@media screen and (min-width: 1400px) {
    .page__section-onehalf {
        
        height: 100vh;
       
      }

    .fourth{
     
        height: 70vh;

    }
    .fifth {
        height: 70vh;

    }
    .sixth{
        height: 70vh;

    }
    .footer{
        height: 40vh;
    }
  }



  @media only screen and (max-width: 900px) {



  /* ******************** FIFTH SECTION ********************/  
  .fifth {
    &_w_spon-row_1 {
      
        display: block;
        
    }

  }
  /* ******************** SIXTH SECTION ********************/  
  .sixth {
   
    &__main-img img{
     width: 100%;

    }
   
  }




  }